html, body{
  width: 100%;
  height: 100%;
  max-width: 1440px;
  min-height: 512px;
  margin: 0 auto;
}
.container:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
div.logo-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 98%;
}
.logo_img{
  width: 94%;
  padding: 6px;
  max-width: 450px;
}
div.container {
  width: 100%;
  text-align: center;
  height: calc(100% - 104px);
}
.end-wrapper{
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #5e666e;
}
.end-wrapper > hr{
  margin: 0;
}
div.copy-right {
    padding: 0 5px;
}
div.copy-right > p{
  margin: 4px;
}
#looking_for{
  width:70%;
  font-size: 22px;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid orange;
  border-radius: 4px;
}

table.recipies_list {
  margin: auto;
  border-collapse: collapse;
  width: 700px;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
@media screen and (max-width: 615px){
  div.container {
    height: calc(100% - 136px);
  }
  #looking_for{
    width: 100%;
  }
}
.recipe_image{
  max-width: 180px;
  max-height: 100px;
}
.zero {
  background-color: #D6EAA0;
}

.one {
  background-color: #D6E1A3;
}

.two {
  background-color: #D6E1B3;
}

.three {
  background-color: #D6E1C3;
}

.four {
  background-color: #D6E1D3;
}

.five {
  background-color: Black;
  width:0px;
}

hr {
    border-style: inset;
    border-width: 2px;
}